* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f6f8;
}

.app-card {
    background: white;
    width: 420px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.25);
    text-align: center;
}

.app-card {
    transition: transform 0.3s ease;
}

.app-card:hover {
    transform: translateY(-5px);
}


h1 {
    margin-bottom: 5px;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    padding: 10px 14px;
    background: #4facfe;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #2f8cff;
}

.emptyMsg {
    text-align: center;
    color: #888;
    font-size: 14px;
    margin-top: 10px;
}

ul {
    list-style: none;
    margin-top: 10px;
}

li {
    background: #f4f6f8;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background: #ff5c5c;
    border: none;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #e64545;
}

.date-time {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

